.form-switch-lg input[type="checkbox"]:disabled {
  width: 55px;
  height: 25px;
}

/* Style for disabled checkbox */
.form-switch-lg input[type="checkbox"]:disabled:checked {
  opacity: 1;
  cursor: not-allowed;
  background-color: green; /* Apply green background for checked state */
}

.form-switch-lg input[type="checkbox"]:disabled {
  opacity: 1;
  cursor: not-allowed;
  background-color: white; /* Apply default background color for unchecked state */
}
.chip-container {
  margin-top: 9%;
  display: flex;
  flex-wrap: wrap;
}

.chip {
  display: block; /* Change to block */
  background-color: #e0e0e0;
  color: #333;
  font-weight: bolder;
  padding: 0.3rem 0.5rem;
  border-radius: 16px;
  margin: 0.2rem;
  font-size: 0.9rem;
  white-space: nowrap; /* Prevent line breaks within chips */
}
