<div class="row mx-3">
  <div class="col">
    <label class="add-order-label m-0">Category</label>
    <p-multiSelect
      styleClass="w-100"
      [options]="categoryArray?.productFieldValuesList"
      optionLabel="name"
      name="sizeCategory"
      (onChange)="onSizeCategoryChange($event.value)"
      [(ngModel)]="category"
      [required]="true"
      placeholder="Select category"
      display="chip"
    ></p-multiSelect>
    <div *ngIf="category" class="text-success ps-2">{{ valid }}</div>
    <div *ngIf="!category" class="text-danger ps-2">{{ invalid }}</div>
  </div>

  <div class="col" *ngIf="category">
    <label class="add-order-label m-0">Paper Size</label>
    <p-multiSelect
      styleClass="w-100"
      [options]="uppingArray"
      optionLabel="label"
      display="chip"
      [required]="true"
      (onChange)="onUpingChange(upping)"
      name="paperSize"
      [(ngModel)]="upping"
      placeholder="Select Upping"
    ></p-multiSelect>
    <div *ngIf="upping" class="text-success ps-2">{{ valid }}</div>
    <div *ngIf="!upping" class="text-danger ps-2">{{ invalid }}</div>
  </div>
</div>
<div class="row mx-3 my-1">
  <div *ngIf="selectedCategories.length > 0" class="mb-3">
    <label class="add-order-label m-0"
      >Selected Categories and Sizes:</label
    >
    <!-- Display categories and sizes -->
    <div class="row" *ngIf="selectedCategories.length > 0">
      <ng-container *ngFor="let selectedCategory of selectedCategories">
        <div class="col-lg-4 mb-3">
          <div class="card">
            <div class="card-header">
              {{ selectedCategory.toUpperCase() }}
            </div>
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item"
                *ngFor="let size of getSizesForCategory(selectedCategory)"
              >
                {{ size }}
              </li>
            </ul>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
