<app-sidebar></app-sidebar>
<!-- <div class="container"></div> -->
<div class="container text-center px-0">
  <div class="bg-dark row mx-auto">
    <div class="col-lg-4 col-12 text-warning text-center text-lg-start">
      <button
        class="border-0 bg-dark text-warning"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        Configurations <i class="fa-solid fa-arrow-down-wide-short"></i>
      </button>
    </div>
    <div class="col-lg-5 col-12 text-white text-center">
      {{ currentDatetime }}
    </div>
  </div>
  <div class="collapse container-fluid mt-3 mb-3" id="collapseExample">
    <div class="row mx-auto justify-content-center justify-content-lg-start">
      <app-configuration-table></app-configuration-table>
    </div>
  </div>
</div>
<div class="container px-0">
  <div class="row mx-auto">
    <div class="col-lg-3 bg-dark text-white text-center">
      Paper Stock : <span id="selectedPaper">{{ paperValue }}</span> | GSM :
      <span id="selectedGsm">{{ gsmValue }}</span>
    </div>
    <div
      class="col-lg-1 col-6 bg-dark text-white ms-lg-5 px-3"
      style="font-size: 13px"
    >
      Last Updated
    </div>
    <small class="col-lg-1 col-6 border" id="lastUpdated" [ngClass]="{'bg-danger text-white': lastUpdatedPaper === 'Not found'}">{{
      lastUpdatedPaper
    }}</small>
    <small
      class="col-lg-1 col-6 bg-dark text-white ps-1 px-0"
      style="font-size: 13px"
      >Paper Market Rate</small
    >
    <small class="col-lg-1 col-6 border" id="updatedRate" [ngClass]="{'bg-danger text-white': lastUpdatedRate === 'Not found'}">{{
      lastUpdatedRate
    }}</small>
    <small
      class="col-lg-1 col-6 bg-dark text-white px-0 text-center"
      style="font-size: 13px"
      >Paper Market Qty</small
    >
    <small
      class="col-lg-1 col-6 border"
      id="selectedPaperQty"
      [ngClass]="{ 'bg-danger text-white': lastUpdatedQty === 'Not found' }"
    >
      {{ lastUpdatedQty }}
    </small>
    <small
      class="col-lg-1 col-6 bg-dark text-white px-2"
      style="font-size: 13px"
      >Cost Per Sheet</small
    >
    <small
      class="col-lg-1 col-6 border"
      id="costPerSheet"
      style="font-size: 13px"
      [ngClass]="['bg-danger', 'text-white']"
      *ngIf="costPerSheet === 'Can\'t calculate'"
    >
      {{ costPerSheet }}
    </small>
  </div>
</div>
<div class="container table-responsive px-0 d-lg-flex">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="text-nowrap">Select Product</th>
        <th scope="col" class="bg-light-warning">Job Color (S)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-6 col-lg-0">
          <select
            class="form-select form-select-sm"
            id="selectProduct"
            [(ngModel)]="productName"
          >
            <option *ngFor="let product of fields[0].values" [value]="product">
              {{ product }}
            </option>
          </select>
        </td>
        <td>
          <select
            class="form-select form-select-sm"
            id="colors"
            [(ngModel)]="jobFrontValue"
          >
            <option *ngFor="let product of fields[1].values" [value]="product">
              {{ product }}
            </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="bg-light-warning">Size</th>
        <th scope="col" class="bg-light-warning">Paper Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-6 col-lg-0">
          <select
            class="form-select form-select-sm"
            id="size"
            [(ngModel)]="sizeValue"
            (ngModelChange)="onSizeSelection()"
          >
            <option *ngFor="let product of fields[2].values" [value]="product">
              {{ product }}
            </option>
          </select>
        </td>
        <td>
          <select
            class="form-select form-select-sm"
            id="paperStock"
            [(ngModel)]="paperValue"
            (ngModelChange)="onPaperSelection()"
          >
            <option *ngFor="let product of fields[3].values" [value]="product">
              {{ product }}
            </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="bg-light-warning">GSM</th>
        <th scope="col" class="bg-light-warning">Sheet Size</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-6 col-lg-0">
          <select
            class="form-select form-select-sm"
            id="grams"
            [(ngModel)]="gsmValue"
            (ngModelChange)="onGSMSelection()"
          >
            <option *ngFor="let product of fields[4].values" [value]="product">
              {{ product }}
            </option>
          </select>
        </td>
        <td>
          <select
            class="form-select form-select-sm"
            id="sheetSize"
            [(ngModel)]="sheetValue"
            (ngModelChange)="onSheetSizeSelection()"
          >
            <option *ngFor="let size of fields[5].values" [value]="size.label">
              {{ size.value }}
            </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="bg-light-warning"># Of Up' (S)</th>
        <th scope="col" class="bg-light-warning">Side Option</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-6 col-lg-0">
          <input
            class="text-center col-12"
            readonly
            id="ofUp"
            [value]="uppingValue"
          />
        </td>
        <td>
          <select
            class="form-select form-select-sm"
            id="sideOption"
            [(ngModel)]="sideOptionValue"
          >
            <option *ngFor="let product of fields[6].values" [value]="product">
              {{ product }}
            </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
    <thead>
      <tr class="col-3">
        <th scope="col" class="bg-light-warning fs-6 text-nowrap">
          Imposition [Possible]
        </th>
        <th
          scope="col"
          class="bg-light-warning fs-6 text-nowrap"
          id="headerAnimation"
          [ngClass]="{
            'fade-out':
              impositionValue === 'Applied' || sideOptionValue === 'SingleSided'
          }"
        >
          Job Colors [Black]
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td id="tdImposition" class="col-6 col-lg-0">
          <ng-container *ngIf="sideOptionValue === 'SingleSided'">
            <input class="text-center" type="readOnly" value="Not Applicable" />
          </ng-container>

          <ng-container *ngIf="sideOptionValue !== 'SingleSided'">
            <select
              class="form-select form-select-sm"
              id="imposition"
              [(ngModel)]="impositionValue"
              (ngModelChange)="onImpositionValueChange()"
            >
              <option
                *ngFor="let product of fields[7].values"
                [value]="product"
              >
                {{ product }}
              </option>
            </select>
          </ng-container>
        </td>
        <td
          id="tdColors"
          [ngClass]="{
            'fade-out':
              impositionValue === 'Applied' || sideOptionValue === 'SingleSided'
          }"
        >
          <select
            class="form-select form-select-sm"
            id="jobColors"
            [(ngModel)]="jobBackValue"
          >
            <option *ngFor="let product of fields[8].values" [value]="product">
              {{ product }}
            </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container text-center">
  <button class="btn btn-warning" (click)="calculate()">Calculate</button>
</div>
