<app-sidebar></app-sidebar>
<div class="body-position">
    <app-dashboard-head></app-dashboard-head>

    <div class="main-container">
        <div>
            <h4>Product Name</h4>
        </div>
        <div class="order-body py-2">
            <div class="container">
                <div class="row">
                    <div class="col-9 mb-3">
                        <label class="add-order-label m-0">Title</label>
                        <input type="text" class="order-search form-control order-form-input m-0" name="titleInput"
                            [(ngModel)]="titleInput" style="border:1px solid #ced4da;" placeholder="Enter Title">
                    </div>
                    <div class="col-3 mb-3">
                        <label class="add-order-label m-0">Status</label><br>
                        <label class="switch mt-2">
                            <input type="checkbox" [checked]="status" (click)="getStatusValue()">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="main-container">
        <div>
            <h4>Product Definition Field</h4>
        </div>

        <div class="order-body py-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 form-group my-3" style="padding: 0 10px;"
                        *ngFor="let item of fieldList; let i = index">
                        <div *ngIf="item.type=='TEXTFIELD'"> <!--Textfield -->
                            <label class="add-order-label m-0">{{item.name}}</label>
                            <input type="text" class="order-search form-control order-form-input m-0"
                                style="border:1px solid #ced4da;" placeholder="Enter {{item.name}}">
                        </div>
                        <div *ngIf="item.type == 'MULTIDROPDOWN'"> <!--MultiSelect -->
                            <div class="d-flex justify-content-between">
                                <label class="add-order-label m-0">{{item.name}}</label>
                                <span>Show as public &nbsp;&nbsp;
                                    <input type="checkbox" (click)="showPublic(i,item.id)"
                                        [(ngModel)]="publicArray[i]"></span>
                            </div>
                            <p-multiSelect (onChange)="productDefinitionComposing(item,$event,i)" styleClass="w-100"
                                [options]=" item.productFieldValuesList" defaultLabel="Select {{item.name}}" [(ngModel)]="valuesSelected[i]" optionLabel="name" display="chip"></p-multiSelect>
                        </div>
                        <div *ngIf="item.type == 'DROPDOWN'"> <!--DropDown -->
                            <div class="d-flex justify-content-between">
                                <label class="add-order-label m-0">{{item?.name}}</label>
                                <span>Show as public &nbsp;&nbsp;
                                    <input type="checkbox" (click)="showPublic(i,item.id)"
                                        [(ngModel)]="publicArray[i]"></span>
                            </div>
                            <p-dropdown [options]="item.productFieldValuesList" optionLabel="name" styleClass="w-100"
                                (onChange)="productDefinitionComposing(item,$event,i)"
                                placeholder="Select {{item.name}}"></p-dropdown>
                        </div>
                        <div *ngIf="item.type=='TOGGLE'"> <!--Toggle -->
                            <label class="add-order-label m-0">{{item.name}}</label><br>
                            <label class="switch mt-2">
                                <input type="checkbox" [checked]="toggleFlag[i]" (click)="getToggleValue(i)">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main-container">
        <div class="d-flex justify-content-between">
            <h4>Product Process</h4>
            <button type="submit" class="btn order-table-btn btn-search-panel py-2 px-3" (click)="generateElement()"><i
                    class="fa-solid fa-plus"></i>
            </button>
        </div>

        <div class="order-body py-2 my-2" *ngFor=" let element of process; let i=index">
            <div class="container">
                <div class="row">
                    <div class="col-5">
                        <label class="add-order-label d-inline-block m-0">Product processing</label><br>
                        <p-dropdown (onChange)="selectProcess($event.value,i)" [options]="productProcessList"
                            [(ngModel)]="element.productProcess" styleClass="w-100" optionLabel="name"
                            placeholder="Select product process"></p-dropdown>
                    </div>
                    <div class="col-5">
                        <label class="add-order-label d-inline-block m-0">Vendor</label><br>
                        <p-dropdown styleClass="w-100" [options]="vendorList[i]" [(ngModel)]="element.vendor"
                            optionLabel="name" placeholder="Select vendor"></p-dropdown>
                    </div>
                    <div class="col-1 align-self-lg-end">
                        <button type="submit" class="btn order-table-btn btn-search-panel" (click)="removeElement(i)"><i
                                class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-body mt-5 py-3">
            <div class="text-end">
                <button type="submit" class="btn order-table-btn btn-search-panel"
                    (click)="postProduct()">{{buttonName}}
                </button>
            </div>
        </div>
    </div>
</div>