<app-sidebar></app-sidebar>
<div class="body-position">
    <app-dashboard-head></app-dashboard-head>
    <div class="main-container">
        <div>
            <h4>Edit Order</h4>
        </div>

        <div class="order-body">
            <form [formGroup]="editOrderForm" (ngSubmit)="submit(editOrderForm)">
                <div class="order-form">
                    <div class="col-md-6 form-group" style="padding: 0 10px;">
                        <label class="add-order-label">Name</label>
                        <input type="text" formControlName="name" placeholder="Enter your name"
                            class="order-search form-control order-form-input">
                        <span class="inputValidators" style="color: red; margin-left: 2%;"
                            *ngIf="editOrderForm.get('name')?.invalid && (editOrderForm.get('name')?.dirty || editOrderForm.get('name')?.touched)">
                            Please provide name.
                        </span>
                    </div>
                    <div class="col-md-6 form-group" style="padding: 0 10px;">
                        <label class="add-order-label">Email</label>
                        <input type="text" formControlName="email" placeholder="Enter your email"
                            class="order-search form-control order-form-input">
                        <span class="inputValidators" style="color: red; margin-left: 2%;"
                            *ngIf="editOrderForm.get('email')?.invalid && (editOrderForm.get('email')?.dirty || editOrderForm.get('email')?.touched)">
                            Please provide email.
                        </span>
                    </div>
                </div>
                <div class="order-form">
                    <div class="col-md-4 form-group" style="padding: 0 10px;">
                        <label class="add-order-label">Price</label>
                        <input type="number" placeholder="Enter price" formControlName="price"
                            class="order-search form-control order-form-input">
                        <span class="inputValidators" style="color: red; margin-left: 2%;"
                            *ngIf="editOrderForm.get('price')?.invalid && (editOrderForm.get('price')?.dirty || editOrderForm.get('price')?.touched)">
                            Please provide price.
                        </span>
                    </div>
                    <div class="col-md-4 form-group" style="padding: 0 10px;">
                        <label class="add-order-label">Status</label>
                        <!-- <input type="text" placeholder="Status" formControlName="status"
                            class="order-search form-control order-form-input"> -->
                        <select class="order-search form-control order-form-input" formControlName="status">
                            <option selected>Recieved</option>
                            <option>Pending</option>
                            <option>Canceled</option>
                        </select>
                        <span class="inputValidators" style="color: red; margin-left: 2%;"
                            *ngIf="editOrderForm.get('status')?.invalid && (editOrderForm.get('status')?.dirty || editOrderForm.get('status')?.touched)">
                            Please provide status.
                        </span>
                    </div>
                    <div class="col-md-4 form-group" style="padding: 0 10px;">
                        <label class="add-order-label">Date</label>
                        <input type="date" formControlName="date" class="order-search form-control order-form-input">
                        <span class="inputValidators" style="color: red; margin-left: 2%;"
                            *ngIf="editOrderForm.get('date')?.invalid && (editOrderForm.get('date')?.dirty || editOrderForm.get('date')?.touched)">
                            Please provide date.
                        </span>
                    </div>
                </div>
                <div class="order-form">
                    <button type="submit" class="btn order-table-btn btn-search-panel order-form-input"
                        [disabled]="editOrderForm.invalid">Edit order
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>