<app-sidebar></app-sidebar>
<div class="container-fluid ps-6 pe-1">
  <app-dashboard-head></app-dashboard-head>
  <div class="">
    <div>
      <h4>Product Field</h4>
    </div>
    <nav class="navbar navbar-light">
      <div class="container-fluid px-0">
        <form class="input-group">
          <input
            class="form-control"
            type="search"
            placeholder="Search product"
            aria-label="Search"
            [(ngModel)]="search"
          />
          <button type="button" class="btn btn-md btn-dark">+ Add</button>
        </form>
      </div>
    </nav>
  </div>
</div>

<div class="container-fluid ps-6">
  <table class="table table-responsive text-center table-fixed">
    <thead>
      <tr>
        <th scope="col" class="text-lg-center">Name</th>
        <th scope="col" class="text-lg-center">Created at</th>
        <th scope="col" class="text-lg-center">Sequence</th>
        <th scope="col" class="text-lg-center">Type</th>
        <th scope="col" class="text-lg-center">Status</th>
        <th scope="col" class="text-lg-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="order-table-404" colspan="6" *ngIf="tableData">
          No record found
        </td>
      </tr>
      <tr *ngFor="let field of fieldList">
        <td class="text-lg-center">{{ field.name }}</td>
        <td class="text-lg-center">{{ field.created_at }}</td>
        <td class="text-lg-center">{{ field.sequence }}</td>
        <td class="text-lg-center">{{ field.type }}</td>
        <td class="text-lg-center">{{ field.status }}</td>
        <td class="text-lg-center">
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button
              type="button"
              class="btn order-table-btn"
              (click)="editField(field.id)"
            >
              <i class="fa-solid fa-pen"></i>&nbsp;Edit
            </button>
            <button
              type="button"
              class="btn order-table-btn"
              (click)="deleteField(field.id)"
            >
              <i class="fa-solid fa-trash"></i>&nbsp;Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
