<app-dashboard-head></app-dashboard-head>
<div class="container-fluid p-4">
  <p-toast></p-toast>
  <div class="row">
    <div class="col-6">
      <h3 *ngIf="idFromQueryParam" class="m-0">
        {{ orderIdWithPrefix }}
      </h3>
      <h6 class="mb-3 mt-0 d-inline">ORDER ID</h6>
      <button
        class="pi pi-copy fs-4 border-0 bg-white"
        (click)="copyIdToClipboard(orderIdWithPrefix!)"
      ></button>
    </div>
    <div class="col-6 text-end">
      <p-tag
        [value]="
          orderById.status === 'New / Unassigned' ? 'NEW' : orderById.status
        "
        [style]="{ 'background-color': 'black' }"
      ></p-tag>
      <label class="add-order-label d-block pt-2">{{
        orderById.timeStamp
      }}</label>
    </div>
  </div>
</div>
<div class="card mt-3">
  <ul class="nav nav-tabs" style="width: 100%">
    <li class="nav-item" style="flex: 1">
      <a
        [ngClass]="
          active === 'overview' ? 'bg-dark text-white' : 'bg-light text-dark'
        "
        class="nav-link active rounded-0 text-center"
        data-bs-toggle="tab"
        href="#overview"
        (click)="active = 'overview'; jobProcessedActive = false"
        >OVERVIEW</a
      >
    </li>
    <li class="nav-item" style="flex: 1">
      <a
        [ngClass]="
          active === 'design' ? 'bg-dark text-white' : 'bg-light text-dark'
        "
        class="nav-link rounded-0 text-center"
        data-bs-toggle="tab"
        href="#design"
        (click)="
          active = 'design';
          jobProcessedActive = false;
          nestedActive = 'overviewDesign'
        "
        >DESIGN</a
      >
    </li>
    <li class="nav-item" style="flex: 1">
      <a
        [ngClass]="
          active === 'pre-production'
            ? 'bg-dark text-white'
            : 'bg-light text-dark'
        "
        class="nav-link rounded-0 text-center"
        data-bs-toggle="tab"
        href="#pre-production"
        (click)="active = 'pre-production'; jobProcessedActive = false;
        nestedActive = 'overviewPreProduction'"
        >PRE PRODUCTION</a
      >
    </li>
    <li class="nav-item" style="flex: 1">
      <a
        [ngClass]="
          active === 'production' ? 'bg-dark text-white' : 'bg-light text-dark'
        "
        class="nav-link rounded-0 text-center"
        data-bs-toggle="tab"
        href="#production"
        (click)="active = 'production'; jobProcessedActive = false;
        nestedActive = 'production'"
        >PRODUCTION</a
      >
    </li>
    <li class="nav-item" style="flex: 1">
      <a
        [ngClass]="
          active === 'packing-qa' ? 'bg-dark text-white' : 'bg-light text-dark'
        "
        class="nav-link rounded-0 text-center"
        data-bs-toggle="tab"
        href="#packing-qa"
        (click)="active = 'packing-qa'; jobProcessedActive = false;
        nestedActive = 'overviewPackingQa'"
        >PACKING & QA</a
      >
    </li>
    <li class="nav-item" style="flex: 1">
      <a
        [ngClass]="
          active === 'delivery' ? 'bg-dark text-white' : 'bg-light text-dark'
        "
        class="nav-link rounded-0 text-center"
        data-bs-toggle="tab"
        href="#delivery"
        (click)="active = 'delivery'; jobProcessedActive = false;
        nestedActive = 'delivery'"
        >DELIVERY</a
      >
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade show active" id="overview">
      <app-order-over-view></app-order-over-view>
    </div>
    <div class="tab-pane fade" id="design">
      <app-order-design></app-order-design>
    </div>
    <div class="tab-pane fade" id="pre-production"></div>
    <div class="tab-pane fade" id="production">
      <ul class="nav nav-tabs border border-1 border-dark" style="width: 100%">
        <li class="nav-item" style="flex: 1">
          <a
            [ngClass]="
              nestedActive === 'overviewProduction'
                ? 'bg-gray text-white'
                : 'bg-light text-dark'
            "
            class="nav-link active rounded-0 text-center"
            data-bs-toggle="tab"
            href="#overviewProduction"
            (click)="getTimeLine(); jobProcessedActive = false"
            >OVERVIEW</a
          >
        </li>
        <li class="nav-item" style="flex: 1">
          <a
            [ngClass]="
              nestedActive === 'jobProocessDetails'
                ? 'bg-gray opacity-75 text-white'
                : 'bg-light text-dark'
            "
            class="nav-link rounded-0 text-center"
            data-bs-toggle="tab"
            href="#jobProocessDetails"
            (click)="
              jobProcessedActive = true; nestedActive = 'jobProocessDetails'
            "
            >PROCESS</a
          >
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="overviewProduction">
          <div *ngIf="overviewActive">
            <div class="card p-5">
              <p-timeline [value]="events">
                <ng-template pTemplate="content" let-event>
                  <small class="p-text-secondary">{{ event.date }}</small>
                </ng-template>
                <ng-template pTemplate="opposite" let-event>
                  {{ event.status }}
                </ng-template>
              </p-timeline>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div
        class="tab-pane fade show active"
        id="jobProocessDetails"
        *ngIf="jobProcessedActive"
      >
        <app-job-requests
          [jobProcessedActive]="jobProcessedActive"
        ></app-job-requests>
      </div>
    </div>
    <div class="tab-pane fade" id="packing-qa"></div>
    <div class="tab-pane fade" id="delivery"></div>
  </div>
</div>
