<nav class="main-menu overflow-y-auto">
  <ul>
    <li>
      <span>
        <img
          class="w-75 nav-text ms-2 nav-logo"
          src="../../../assets/images/print-lab-logo.png"
          alt=""
        />
      </span>
    </li>
    <li *ngFor="let option of options">
      <span class="sidebar-list-hover">
        <a routerLink="/{{ option.link }}" class="nav-link cursor-pointer">
          <i class="{{ option.icon }}"></i>
          <h6 class="nav-text">{{ option.name }}</h6>
        </a>
      </span>
    </li>
    <li>
      <span class="sidebar-list-hover" (click)="toggleDropdown('processFlag')">
        <i class="fa fa-bars fa-2x"></i>
        <span class="nav-text">
          Process
          <i
            class="fa-solid fa-chevron-down dd-icon-settings"
            *ngIf="!flags.processFlag"
          ></i>
          <i
            class="fa-solid fa-chevron-up dd-icon-settings"
            *ngIf="flags.processFlag"
          ></i>
        </span>
      </span>
    </li>
    <li class="settingOptions" *ngFor="let el of process">
      <span *ngIf="flags.processFlag">
        <a
          routerLink="/{{ el.link }}"
          class="sidebar-list-hover-settings nav-link cursor-pointer"
        >
          <i class="fa fa-gear fa-2x"></i>
          <span class="nav-text">{{ el.name }}</span>
        </a>
      </span>
    </li>
    <li>
      <span class="sidebar-list-hover" (click)="toggleDropdown('settingFlag')">
        <i class="fa fa-bars fa-2x"></i>
        <span class="nav-text">
          Configuration
          <i
            class="fa-solid fa-chevron-down dd-icon-settings"
            *ngIf="!flags.settingFlag"
          ></i>
          <i
            class="fa-solid fa-chevron-up dd-icon-settings"
            *ngIf="flags.settingFlag"
          ></i>
        </span>
      </span>
    </li>
    <li class="settingOptions" *ngFor="let el of configurationOptions">
      <span *ngIf="flags.settingFlag">
        <a
          routerLink="/{{ el.link }}"
          class="sidebar-list-hover-settings nav-link cursor-pointer"
        >
          <i class="fa fa-gear fa-2x"></i>
          <span class="nav-text">{{ el.name }}</span>
        </a>
      </span>
    </li>
  </ul>
</nav>
