<app-sidebar></app-sidebar>
<div class="body-position">
  <app-dashboard-head></app-dashboard-head>

  <div class="main-container">
    <div>
      <h4>{{buttonName}} Paper Market</h4>
    </div>

    <div class="order-body py-2">
      <div class="container">
        <div class="row">
          <div class="col-6 my-3">
            <label class="add-order-label m-0">Date</label>
            <input type="date" class="order-search form-control order-form-input m-0" [(ngModel)]="dateValue"
              style="border:1px solid #ced4da;" placeholder="Enter Date">
          </div>
          <div class="col-6 my-3">
            <label class="add-order-label m-0">Paper Stock</label><br>
            <p-dropdown [options]="paperStockArray" optionLabel="name" placeholder="Select Paper Stock"
              styleClass="w-100" [(ngModel)]="paperStockValue"></p-dropdown>

          </div>
          <div class="col-6 my-3">
            <label class="add-order-label m-0">GSM (Grams)</label>
            <p-dropdown [options]="gsmArray" optionLabel="name" placeholder="Select Paper Stock" styleClass="w-100"
              [(ngModel)]="gsmValue"></p-dropdown>
          </div>
          <div class="col-6 my-3">
            <label class="add-order-label m-0">Length</label>
            <input type="number" class="order-search form-control order-form-input m-0" [(ngModel)]="lengthValue"
              (keyup)="dimension()" style="border:1px solid #ced4da;" placeholder="Enter Length">
          </div>
          <div class="col-6 my-3">
            <label class="add-order-label m-0">Width</label>
            <input type="number" class="order-search form-control order-form-input m-0" [(ngModel)]="widthValue"
              (keyup)="dimension()" style="border:1px solid #ced4da;" placeholder="Enter Width">
          </div>
          <div class="col-6 my-3">
            <label class="add-order-label m-0">Dimensions</label>
            <!-- <span class="order-search form-control order-form-input m-0 border">{{dimensionValue}}</span> -->
            <input type="text" class="order-search form-control order-form-input m-0 bg-white" [(ngModel)]="dimensionValue" disabled style="border:1px solid #ced4da;">
          </div>
          <div class="col-6 my-3">
            <label class="add-order-label m-0">QTY</label><br>
            <p-dropdown [options]="quantityArray" placeholder="Select Quantity" styleClass="w-100"
              [(ngModel)]="qtyValue"></p-dropdown>
          </div>
          <div class="col-6 my-3">
            <label class="add-order-label m-0">Rate (PKR)</label>
            <input type="number" class="order-search form-control order-form-input m-0" [(ngModel)]="rateValue"
              style="border:1px solid #ced4da;" placeholder="Enter Rate">
          </div>
          <div class="col-12 my-3">
            <label class="add-order-label m-0">Notes</label>
            <textarea class="order-search form-control order-form-input m-0" [(ngModel)]="noteValue"
              style="border:1px solid #ced4da;" placeholder="Enter Notes" rows="7"></textarea>
          </div>
          <div class="col-2 my-3">
            <label class="add-order-label m-0">Verified</label><br>
            <label class="switch mt-2">
              <input type="checkbox" [checked]="verifiedValue" (click)="getVerifiedValue()">
              <!--  -->
              <span class="slider round"></span>
            </label>
          </div>
          <div class="col-10 my-3 d-flex justify-content-center mx-0">
            <button type="submit" class="btn order-table-btn btn-search-panel w-25"
              (click)="addPapermarketRate()">{{buttonName}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Error" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false">
  <h5 class="error-modal-head">{{error}}</h5>
</p-dialog>
