<ng-container *ngIf="!hide">
  <app-sidebar></app-sidebar>
  <div class="container-fluid ps-6">
    <app-dashboard-head></app-dashboard-head>
    <form #form="ngForm" (ngSubmit)="submit()">
      <div class="main-container">
        <div *ngIf="invoice?.invoiceNo">
          <h3>Invoice no. {{ invoice.invoiceNo }}</h3>
        </div>
        <div class="row mt-3 mb-1">
          <div class="col-3">
            <label class="add-order-label m-0 mb-1">Customer</label>
              <p-dropdown
                [options]="customerList"
                styleClass="w-100"
                optionLabel="name"
                optionValue="id"
                placeholder="Select Customer"
                [(ngModel)]="invoice.customer.id"
                [filter]="true"
                filterBy="name"
                (onChange)="fillData($event.value)"
                [showClear]="true"
                name="customerName"
                #customerModel="ngModel"
                [required]="true"
                [ngClass]="{
                  'ng-dirty ng-invalid':
                    customerModel.invalid &&
                    (customerModel.dirty || customerModel.touched)
                }"
              >
              </p-dropdown>
              <div
                *ngIf="
                  customerModel.invalid &&
                  (customerModel.dirty || customerModel.touched)
                "
              >
                <div *ngIf="customerModel.errors" class="text-danger m-1">
                  Customer is required.
                </div>
              </div>
          </div>
          <div class="col-3">
            <label class="add-order-label m-0 ms-2 mb-2">Customer Email</label>
            <input
              type="text"
              placeholder="Auto Filled!"
              class="form-control order-form-input"
              [(ngModel)]="invoice.customerEmail"
              style="border: 1px solid #ced4da"
              name="email"
              readonly
            />
          </div>
          <div class="col-5 text-end" *ngIf="invoice.balanceDue">
            <h5>Balance Due</h5>
            <h2 class="mt-1">PKR {{ invoice.balanceDue.toFixed(2) }}</h2>
          </div>
        </div>
        <div class="row offset-3">
          <p-checkbox
            [binary]="true"
            inputId="binaryCustomer"
            label="Send Later"
            name="sendLater"
            [(ngModel)]="invoice.sendLater"
          ></p-checkbox>
        </div>
        <div class="row my-3">
          <div class="col-2">
            <label class="add-order-label m-0 mb-1">Billing Address</label>
            <textarea
              name="sAddressB"
              [(ngModel)]="invoice.billingAddress"
              id="sAddressB"
              class="d-block"
              cols="25"
              rows="3"
              placeholder=" Auto Filled!"
              readonly
            ></textarea>
          </div>
          <div class="col-2 mt-4 pt-3">
            <label class="add-order-label m-0 mb-1 ms-1">Terms</label>
            <!-- <p-dropdown
          [options]="termList?.productFieldValuesList"
          styleClass="w-100"
          optionLabel="name"
          optionValue="name"
          [(ngModel)]="customer.terms"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          name="customerTerms"
          #termModel="ngModel"
          [required]="true"
          [ngClass]="{
            'ng-dirty ng-invalid':
              termModel.invalid && (termModel.dirty || termModel.touched)
          }"
        >
        </p-dropdown>
        <div
          *ngIf="termModel.invalid && (termModel.dirty || termModel.touched)"
        >
          <div *ngIf="termModel.errors" class="text-danger m-1">
            Term is required.
          </div>
        </div> -->
            <input
              placeholder="Auto Filled!"
              type="text"
              class="form-control order-form-input"
              [(ngModel)]="invoice.terms"
              style="border: 1px solid #ced4da"
              name="terms"
              readonly
            />
          </div>
          <div class="col-2 mt-4">
            <label class="add-order-label m-0 mb-1">Invoice Date</label>
            <p-calendar
              styleClass="w-100"
              name="invoiceDate"
              [(ngModel)]="invoice.invoiceDate"
              [showIcon]="true"
              placeholder="Select Date"
              (ngModelChange)="updateDueDateMinDate()"
            ></p-calendar>
          </div>
          <div class="col-2 mt-4">
            <label class="add-order-label m-0 mb-1">Due Date</label>
            <p-calendar
              styleClass="w-100"
              [(ngModel)]="invoice.dueDate"
              name="dueDate"
              placeholder="Select Date"
              [showIcon]="true"
              [minDate]="minDueDate"
            ></p-calendar>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row my-3">
          <p-card>
            <button class="btn btn-dark my-3" type="button" (click)="addRow()">
              Add Row
            </button>
            <p-table
              [value]="invoice.invoiceProductDtoList"
              styleClass="p-datatable-gridlines"
              [tableStyle]="{ 'min-width': '50rem' }"
            >
              <ng-template pTemplate="header">
                <tr class="d-flex">
                  <th class="col">#</th>
                  <th class="col-2">Date</th>
                  <th class="col-2">Product Service</th>
                  <th class="col-2">Type</th>
                  <th class="col-2">Description</th>
                  <th class="col-2">Qty</th>
                  <th class="col-2">Rate</th>
                  <th class="col-2">Amount</th>
                  <th class="col">Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-row let-i="rowIndex">
                <tr class="d-flex">
                  <td class="col">{{ i + 1 }}</td>
                  <td class="col-2">
                    <p-calendar
                      [(ngModel)]="row.dateRow"
                      placeholder="Date"
                      class="lengthDate"
                      [name]="'dueDate[' + i + ']'"
                      [showIcon]="true"
                      [appendTo]="'body'"
                    ></p-calendar>
                  </td>
                  <td class="col-2">
                    <div class="text-nowrap">
                      <p-dropdown
                        [options]="productServiceList"
                        styleClass="w-100"
                        placeholder="Product"
                        optionLabel="name"
                        optionValue="id"
                        [(ngModel)]="row.productRow"
                        [filter]="true"
                        filterBy="name"
                        (onChange)="AutoFillOthers($event.value, i)"
                        [appendTo]="'body'"
                        [showClear]="true"
                        [name]="'product[' + i + ']'"
                        #product="ngModel"
                        [required]="true"
                        [ngClass]="{
                          'ng-dirty ng-invalid':
                            product.invalid &&
                            (product.dirty || product.touched)
                        }"
                      >
                      </p-dropdown>
                      <div
                        *ngIf="
                          product.invalid && (product.dirty || product.touched)
                        "
                      >
                        <div *ngIf="product.errors" class="text-danger m-1">
                          Product is required.
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="col-2">
                    <input
                      type="text"
                      pInputText
                      [(ngModel)]="row.type"
                      [readonly]="true"
                      [name]="'type[' + i + ']'"
                      placeholder="Type will Auto Filled!"
                    />
                  </td>
                  <td class="col-2">
                    <div>
                      <textarea
                        [name]="'desc[' + i + ']'"
                        [(ngModel)]="row.description"
                        placeholder=" Description will Auto Filled!"
                        id="desc"
                        class="d-block"
                        cols="25"
                        rows="2"
                      ></textarea>
                    </div>
                  </td>
                  <td class="col-2">
                    <p-inputNumber
                      [(ngModel)]="row.qty"
                      inputId="minmaxQty"
                      [min]="0"
                      [max]="10000"
                      [format]="true"
                      (onInput)="calculateAmount(invoice, i)"
                      [name]="'qty[' + i + ']'"
                      #qtyModel="ngModel"
                      placeholder="Type qty"
                      [required]="true"
                    ></p-inputNumber>
                    <div
                      *ngIf="
                        qtyModel.invalid && (qtyModel.dirty || qtyModel.touched)
                      "
                    >
                      <div *ngIf="qtyModel.errors" class="text-danger m-1">
                        Quantity is required.
                      </div>
                    </div>
                  </td>
                  <td class="col-2">
                    <p-inputNumber
                      [(ngModel)]="row.rate"
                      placeholder="Auto! through Product"
                      inputId="minmaxRate"
                      [min]="0"
                      [max]="10000"
                      (onInput)="calculateAmount(invoice, i)"
                      [format]="true"
                      mode="currency"
                      currency="PKR"
                      [name]="'rate[' + i + ']'"
                      #rateModel="ngModel"
                      [required]="true"
                    >
                    </p-inputNumber>
                    <div
                      *ngIf="
                        rateModel.invalid &&
                        (rateModel.dirty || rateModel.touched)
                      "
                    >
                      <div *ngIf="rateModel.errors" class="text-danger m-1">
                        Rate is required.
                      </div>
                    </div>
                  </td>
                  <td class="col-2">
                    <p-inputNumber
                      [(ngModel)]="row.amount"
                      placeholder="Auto! through rate x qty"
                      inputId="minmaxAmount"
                      [min]="0"
                      [max]="10000"
                      [format]="true"
                      mode="currency"
                      currency="PKR"
                      [name]="'amount[' + i + ']'"
                      #amountModel="ngModel"
                      [required]="true"
                      [readonly]="true"
                    >
                    </p-inputNumber>
                    <div
                      *ngIf="
                        amountModel.invalid &&
                        (amountModel.dirty || amountModel.touched)
                      "
                    >
                      <div *ngIf="amountModel.errors" class="text-danger m-1">
                        Amount is required.
                      </div>
                    </div>
                  </td>
                  <td class="col">
                    <button
                      type="button"
                      [ngClass]="
                        i === 0
                          ? 'pi pi-lock text-dark'
                          : 'pi pi-trash text-danger pointer-event bg-white border-0'
                      "
                      pButton
                      [pTooltip]="
                        i === 0 ? 'First invoice will be locked' : 'Delete row'
                      "
                      tooltipPosition="top"
                      class="pointer-event border-0 bg-white px-3"
                      (click)="removeRow(i)"
                    ></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-card>
        </div>
      </div>
      <div class="container-fluid my-3">
        <div class="row ms-3">
          <div class="col-3">
            <label class="add-order-label m-0 mb-1">Message of invoice</label>
            <textarea
              name="msg"
              [(ngModel)]="invoice.message"
              id="msg"
              class="d-block"
              cols="25"
              rows="3"
            ></textarea>
          </div>
        </div>
        <div class="row ms-3 mt-3">
          <div class="col-3">
            <label class="add-order-label m-0 mb-1">Message of statement</label>
            <textarea
              name="statement"
              [(ngModel)]="invoice.statement"
              id="statement"
              class="d-block"
              cols="25"
              rows="3"
            ></textarea>
          </div>
        </div>
        <div class="row ms-3 mt-3" *ngIf="isAdmin">
          <div class="col-3">
            <label class="add-order-label m-0 d-block">Invoice no</label>
            <p-inputNumber
              [(ngModel)]="invoice.invoiceNo"
              inputId="minmaxNo"
              [min]="0"
              [useGrouping]="false"
              (onInput)="searchInvoiceNumber($event.value)"
              placeholder=" Invoice No"
              name="invoiceNo"
              #invoiceNoModel="ngModel"
              [required]="true"
              [readonly]="isAdmin ? false : true"
            >
            </p-inputNumber>
            <div
              *ngIf="
                invoiceNoModel.invalid &&
                (invoiceNoModel.dirty || invoiceNoModel.touched)
              "
            >
              <div *ngIf="invoiceNoModel.errors" class="text-danger m-1">
                Invoice No# is required.
              </div>
            </div>
            <!-- <input
              type="number"
              class="order-search form-control order-form-input"

              style="border: 1px solid #ced4da"

            /> -->
          </div>
        </div>
      </div>
      <div class="row my-3 bg-dark py-3 d-flex justify-content-between">
        <div class="col-2">
          <button class="btn btn-outline-light ms-3" type="button">
            Clear
          </button>
        </div>
        <div class="col-2 pt-2">
          <p-toast></p-toast>
          <button
            type="button"
            (click)="openPrintPreview()"
            class="text-light ms-5 pointer-event bg-dark border-0 text-decoration-underline"
          >
            Print Preview
          </button>
        </div>
        <div class="col-2 text-end">
          <button
            class="btn btn-outline-warning ms-5"
            type="submit"
            [disabled]="!form.valid"
          >
            {{ mode }}
            <span *ngIf="!invoice.sendLater && !idFromQueryParam">{{
              " & " + send
            }}</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-container>
<p-dialog
  #printPreviewDialog
  [(visible)]="showPrintPreview"
  class="blackModal"
  [breakpoints]="{ '960px': '100vw' }"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
  [style]="{
    border: '7px solid black',
    'border-right': '7px solid black',
  }"
>
  <ng-template pTemplate="header">
    <div
      class="p-dialog-titlebar black-header bg-dark text-white"
      style="padding: 15px; margin: -30px; padding-right: -30px; width: 200%"
    >
      <div class="header-icons clearfix">
        <span class="pi pi-arrow-left"></span>
        <span class="pi pi-arrow-right mx-3"></span>
        <span>Page</span>
        <input
          type="text"
          value=" 1"
          readonly
          class="ms-3 me-1 bg-dark col-2 py-0 text-white border border-white rounded"
        /><span>of 1</span>
        <span class="ms-3">-</span>
        <span class="mx-2">+</span>
        <span class="p-input-icon-right">
          <i class="pi pi-arrows-v"></i>
          <input
            type="text"
            pInputText
            value="  Automatic Zoom"
            class="p-inputtext-sm bg-dark text-white customInput"
          />
        </span>
        <div class="float-end d-inline">
          <span class="pi pi-save" (click)="saveFile()"></span>
          <span
            class="ms-3 pi pi-print"
            (click)="generatePdfAndSendToEmail()"
          ></span>
          <span class="ms-3 pi pi-times" (click)="closeModal()"></span>
        </div>
      </div>
    </div>
  </ng-template>
  <div style="padding: 20px; width: 650px" id="print-preview">
    <div style="display: flex">
      <div style="flex: 1; margin-top: 15px">
        <img
          src="../../../../assets/images/Screenshot 2024-02-20 181500.png"
          alt=""
          width="25%"
        />
      </div>
      <div style="text-align: right">
        <h1>Invoice</h1>
      </div>
    </div>
    <div style="margin-top: 20px">
      <h6>3011 8888 40</h6>
      <h6>finance@printlab.pk</h6>
      <h6>www.printlab.pk</h6>
    </div>
    <div style="margin-top: 50px">
      <table style="border-collapse: collapse">
        <tr>
          <th
            style="
              background-color: #343a40;
              color: white;
              border: 1px solid black;
            "
            class="p-2"
          >
            <span>Bill To: </span>
          </th>
        </tr>
        <tr>
          <td class="px-2" style="border: 1px solid black">
            <h6 class="mb-1">{{ invoice.customerEmail }},</h6>
            <h6 class="mb-1">{{ invoice.business }},</h6>
            <h6 class="mb-1">{{ invoice.billingAddress }}</h6>
          </td>
        </tr>
      </table>
    </div>
    <div style="margin-top: 50px">
      <div>
        <table
          style="table-layout: fixed; width: 75%; border-collapse: collapse"
        >
          <thead
            style="background-color: #343a40; color: white; text-align: center"
          >
            <tr>
              <th style="border: 1px solid black; padding: 3px">Date</th>
              <th style="border: 1px solid black; padding: 3px">Total Due</th>
              <th style="border: 1px solid black; padding: 3px">Invoice #</th>
            </tr>
          </thead>
          <tbody>
            <tr style="background-color: white; color: black">
              <td style="border: 1px solid black; padding: 0">
                {{ invoice.invoiceDate?.toLocaleDateString() }}
              </td>
              <td style="border: 1px solid black; padding: 0">
                <div style="display: flex; justify-content: space-between">
                  <span>PKR</span>
                  <span>{{ invoice.balanceDue }}</span>
                </div>
              </td>
              <td
                style="border: 1px solid black; padding: 0; text-align: center"
              >
                {{ invoice.invoiceNo }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style="margin-top: 20px">
      <div>
        <table style="width: 100%; border-collapse: collapse">
          <thead
            style="background-color: #343a40; color: white; text-align: center"
          >
            <tr>
              <th style="border: 1px solid black; padding: 3px">Item</th>
              <th style="border: 1px solid black; padding: 3px; width: 25%">
                QTY
              </th>
              <th style="border: 1px solid black; padding: 3px; width: 25%">
                Rate
              </th>
              <th style="border: 1px solid black; padding: 3px; width: 25%">
                Amount
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngFor="let row of invoice?.invoiceProductDtoList; let i = index"
            >
              <tr style="background-color: white; color: black">
                <td
                  style="
                    border: 1px solid black;
                    padding: 5px;
                    white-space: nowrap;
                  "
                >
                  {{ row?.productName }} [{{ row?.type }}]
                </td>
                <td style="border: 1px solid black; padding: 5px">
                  {{ row?.qty }}
                </td>
                <td style="border: 1px solid black; padding: 5px">
                  <div style="display: flex; justify-content: space-between">
                    <span>PKR</span>
                    <span>{{ row?.rate }}</span>
                  </div>
                </td>
                <td style="border: 1px solid black; padding: 5px">
                  <div style="display: flex; justify-content: space-between">
                    <span>PKR</span>
                    <span>{{ row?.amount }}</span>
                  </div>
                </td>
              </tr>
            </ng-container>
            <tr style="background-color: white; color: black">
              <td></td>
              <td
                style="
                  border: 1px solid black;
                  padding: 5px;
                  text-align: center;
                "
                colspan="2"
              >
                Total
              </td>
              <td style="border: 1px solid black; padding: 5px">
                <div style="display: flex; justify-content: space-between">
                  <span>PKR</span>
                  <span>{{ calculateTotal() }}</span>
                </div>
              </td>
            </tr>
            <tr style="background-color: white; color: black">
              <td></td>
              <td
                style="
                  border: 1px solid black;
                  padding: 5px;
                  text-align: center;
                "
                colspan="2"
              >
                Recieved
              </td>
              <td style="border: 1px solid black; padding: 5px">
                <div style="display: flex; justify-content: space-between">
                  <span>PKR</span>
                  <span>3000</span>
                </div>
              </td>
            </tr>
            <tr style="background-color: white; color: black">
              <td></td>
              <td
                style="
                  border: 1px solid black;
                  padding: 5px;
                  text-align: center;
                  background-color: black;
                  color: white;
                "
                colspan="2"
              >
                Balance
              </td>
              <td style="border: 1px solid black; padding: 5px">
                <div style="display: flex; justify-content: space-between">
                  <span>PKR</span>
                  <span>{{ calculateBalance() }}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div
      style="
        margin-top: 155px;
        border-top: 3px solid black;
        border-left: 0;
        border-right: 0;
        margin-left: 10px;
      "
    >
      <div>
        <span>-></span>
        <span>All prices above are in Pakistani Rupee and tax exclusive</span>
      </div>
      <div>
        <span>-></span>
        <span>This is a computer generated invoice no signature required</span>
      </div>
    </div>
  </div>
</p-dialog>
<p-toast></p-toast>
