<app-sidebar></app-sidebar>
<div class="container-fluid ps-6">
  <app-dashboard-head></app-dashboard-head>
  <div class="main-container">
    <div>
      <h3>Order TimeLine</h3>
    </div>
    <!-- TimeLine -->
    <div class="card py-5" *ngIf="nowRenderTimline">
      <p-timeline
        [value]="events"
        align="alternate"
        styleClass="customized-timeline"
      >
        <ng-template pTemplate="marker" let-event>
          <span
            class="custom-marker shadow-2 rounded-circle text-white p-1"
            [style.backgroundColor]="event?.color"
          >
            <i [ngClass]="event.icon"></i>
          </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
          <p-card
            [style]="{ 'border-bottom': '2px solid #ccc' }"
            [header]="event?.status"
            [subheader]="event?.date"
            [ngClass]="{ 'red-subheader': event?.red === 'red' }"
          >
            <p></p>
            <button
              pButton
              label="Edit & View"
              class="btn btn-dark text-white"
              [routerLink]="event?.routerLink"
              [queryParams]="event?.queryParams"
              (click)="isroute()"
            ></button>
          </p-card>
        </ng-template>
      </p-timeline>
    </div>
    <!-- TimeLine -->
  </div>
</div>
<p-toast></p-toast>
<p-dialog
  header="Page Unavailable"
  [(visible)]="visible"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p>
    We apologize for the inconvenience, but it seems that the requested page is
    currently unavailable. Please try again later or contact our support team
    for assistance. Thank you for your understanding.
  </p>
</p-dialog>
