<div class="container-fluid vh-100">
  <div class="row h-100">
    <div
      class="col-lg-8 col-md-6 col-12 bg-black d-flex justify-content-center align-items-center"
    >
      <img
        src="../../../assets/images/print-lab-logo.png"
        alt="Centered Image"
        class="img-fluid"
      />
    </div>
    <div
      class="col-lg-4 col-md-6 col-12 d-flex justify-content-center align-items-center"
    >
      <form class="p-4 w-100">
        <h2 class="text-start mb-1">Login</h2>
        <h4 class="mb-4 text-start fw-light">engine.printlab</h4>
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            name="email"
            [(ngModel)]="userNamevalue"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <div class="d-flex">
            <input
              [(ngModel)]="passwordValue"
              type="{{ passwordToggle }}"
              class="form-control"
              style="border-top-right-radius: 0; border-bottom-right-radius: 0"
              [ngModelOptions]="{ standalone: true }"
            />
            <span
              class="form-control form-control-color text-center"
              style="
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: 0;
              "
              (click)="togglePasswordVisiblity()"
            >
              <i class="fa-solid fa-eye" *ngIf="showPassword"></i>
              <i class="fa-solid fa-eye-slash" *ngIf="!showPassword"></i>
            </span>
          </div>
        </div>
        <div class="text-start">
          <button
            type="submit"
            (click)="addUser()"
            class="col-12 btn btn-dark w-25"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<p-toast></p-toast>
