<app-dashboard-head></app-dashboard-head>
<div class="container-fluid mt-5">
  <div class="row">
    <h4>Orders</h4>
  </div>

  <div class="order-body">
    <form class="order-search-panel py-0 px-0">
      <input
        class="order-search form-control"
        type="number"
        placeholder="Search by order id"
        aria-label="Search"
        name="search"
        [(ngModel)]="order.id"
        (input)="getOrders(undefined, order)"
      />
      <p-panelMenu [model]="items" class="" />
    </form>
  </div>
</div>
<div class="container-fluid">
  <div class="card">
    <p-table
      #dt1
      [value]="paginatedOrders?.content!"
      dataKey="id"
      [globalFilterFields]="[
        'id',
        'businessCategory',
        'product',
        'size',
        'quantity',
        'unit',
        'amount',
        'status',
        'createdBy.name',
        'timeStamp',
        'businesses'
      ]"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <button
            pButton
            label="Clear"
            class="btn btn-dark"
            icon="pi pi-filter-slash"
            (click)="clearOrderTable()"
          ></button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width: 5rem">
            <div class="flex align-items-center">ID</div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              Product
              <p-columnFilter type="text" field="category" display="menu">
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Product & Category</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <div class="p-fluid">
                    <div class="p-field">
                      <label for="product">Product</label>
                      <input
                        id="product"
                        type="text"
                        [(ngModel)]="order.product"
                        (input)="getOrders(undefined, order)"
                        class="p-inputtext p-component"
                      />
                    </div>
                    <div class="p-field">
                      <label for="category">Category</label>
                      <input
                        id="category"
                        type="text"
                        [(ngModel)]="order.businessCategory"
                        (input)="getOrders(undefined, order)"
                        class="p-inputtext p-component"
                      />
                    </div>
                  </div>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">Size</div>
          </th>
          <th pSortableColumn="quantity" style="min-width: 10rem">
            <div class="flex align-items-center">
              Quantity <p-sortIcon field="quantity" />
            </div>
          </th>
          <th pSortableColumn="rate" style="min-width: 7rem">
            <div class="flex align-items-center">
              Unit <p-sortIcon field="rate" />
            </div>
          </th>
          <th pSortableColumn="amount" style="min-width: 9rem">
            <div class="flex align-items-center">
              Amount <p-sortIcon field="amount" />
            </div>
          </th>
          <th style="min-width: 5rem">
            <div class="flex align-items-center">
              Status
              <p-columnFilter type="text" field="status" display="menu">
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Status</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <input
                    type="text"
                    [(ngModel)]="order.status"
                    (input)="getOrders(undefined, order)"
                  />
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <!-- Combined Filter Column Header -->
          <th style="min-width: 15rem">
            <div class="flex align-items-center">
              Created by
              <p-columnFilter type="text" display="menu">
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Filters</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <div class="p-fluid">
                    <!-- Created By Filter -->
                    <div class="p-field">
                      <label for="createdBy">Created By</label>
                      <input
                        id="createdBy"
                        type="text"
                        [(ngModel)]="createdBy.name"
                        (input)="getOrders(undefined, order)"
                        class="p-inputtext p-component"
                      />
                    </div>
                    <!-- Type Filter -->
                    <div class="p-field">
                      <label for="type">Type</label>
                      <input
                        id="type"
                        type="text"
                        [(ngModel)]="order.type"
                        (input)="getOrders(undefined, order)"
                        class="p-inputtext p-component"
                      />
                    </div>
                  </div>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex align-items-center">
              businesses
              <p-columnFilter
                field="businesses"
                matchMode="in"
                display="menu"
                [showMatchModes]="false"
                [showOperator]="false"
                [showAddButton]="false"
              >
                <ng-template pTemplate="header">
                  <div class="px-3 pt-3 pb-0">
                    <span class="font-bold">Select Businesses</span>
                  </div>
                </ng-template>
                <ng-template
                  pTemplate="filter"
                  let-value
                  let-filter="filterCallback"
                >
                  <p-multiSelect
                    [(ngModel)]="order.businesses"
                    [options]="businessList"
                    placeholder="Any"
                    (onChange)="getOrders(undefined, order)"
                    optionLabel="businessName"
                  >
                    <ng-template let-option pTemplate="item">
                      <div class="inline-block vertical-align-middle">
                        <span class="ml-1 mt-1">{{ option.businessName }}</span>
                      </div>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </div>
          </th>
          <th style="min-width: 15rem clearfix">
            <div class="flex align-items-center float-end">Actions</div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <ng-container *ngIf="renderTableNow">
          <tr
            class="text-nowrap order-table-row-hover"
            (click)="onRowClick($event, order.id, order.type)"
          >
            <td>
              {{ order.id }}
            </td>
            <td>
              <div>{{ order.product }}</div>
              <div>{{ order.businessCategory }}</div>
            </td>
            <td>
              {{ order.size }}
            </td>
            <td>
              {{ order.quantity }}
            </td>
            <td>PKR {{ order.rate || order.amount / order.quantity }}</td>
            <td>PKR {{ order.amount }}</td>
            <td>
              {{ order.status }}
            </td>
            <td>
              <div>{{ order.createdBy.name }}</div>
              <div>{{ order.type.toUpperCase() + " Order" }}</div>
              <div>{{ order.timeStamp }}</div>
            </td>
            <td>
              <div>{{ order.customer.name }}</div>
              <div>
                {{ order.businesses | joinWithCommaSeparated : "businessName" }}
              </div>
            </td>
            <td
              class="order-table-btns-container text-end"
              *ngIf="buttonOption"
            >
              <div
                class="btn-group mr-2"
                role="group"
                aria-label="Second group"
              >
                <button
                  type="button"
                  class="btn order-table-btn"
                  (click)="viewOrder(order.id, order.type)"
                >
                  <i class="fa-solid fa-hand-pointer"></i>
                </button>
                <button
                  type="button"
                  class="btn order-table-btn"
                  (click)="editOrder(order.id, order.type)"
                >
                  <i class="fa-solid fa-pen"></i>
                </button>
                <button
                  type="button"
                  class="btn order-table-btn"
                  (click)="deleteOrder(order.id, order.type)"
                >
                  <i class="fa-solid fa-trash"></i>
                </button>
                <button
                  type="button"
                  class="btn order-table-btn"
                  (click)="assignOrder(order.id)"
                >
                  <i class="pi pi-plus"></i>
                </button>
                <button
                  type="button"
                  class="btn order-table-btn"
                  (click)="orderProcessCtp(order?.id)"
                >
                  <i class="pi pi-list"></i>
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr class="text-center">
          <td class="text-center" colspan="13">No Orders found.</td>
        </tr>
      </ng-template>
    </p-table>

    <p-paginator
      [rows]="paginatedOrders?.pageSize!"
      [totalRecords]="paginatedOrders?.totalElements!"
      (onPageChange)="getOrders($event)"
      [rowsPerPageOptions]="[5, 10, 15]"
      currentPageReportTemplate="Showing {{
        paginatedOrders?.pageNumber! * paginatedOrders?.pageSize!
      }} to {{
        (paginatedOrders?.pageNumber! + 1) * paginatedOrders?.pageSize!
      }} of {{ paginatedOrders?.totalElements! }} entries"
      [alwaysShow]="true"
      [pageLinkSize]="5"
      [showCurrentPageReport]="true"
    ></p-paginator>
  </div>
</div>
<p-dialog
  header="Assign Order To User"
  [(visible)]="visible"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="row mx-auto my-3">
    <div class="col-6">
      <label class="d-block add-order-label m-0">Select Role</label>
      <p-dropdown
        styleClass="w-100"
        appendTo="body"
        [options]="roleArray"
        [(ngModel)]="selectedRole"
        (onChange)="getUsersByRole($event.value)"
        placeholder="Select a Role"
        optionLabel="name"
      ></p-dropdown>
    </div>
    <div class="col-6">
      <label class="d-block add-order-label m-0">Select User</label>
      <p-dropdown
        styleClass="w-100"
        appendTo="body"
        [options]="userArray"
        [filter]="true"
        filterBy="name"
        [(ngModel)]="selectedUser"
        placeholder="Select a User"
        emptyMessage="Select a role first"
        optionLabel="name"
      ></p-dropdown>
    </div>
  </div>
  <div class="text-danger row ms-3" *ngIf="plzSelect">
    Please Assign then Save
  </div>
  <div class="d-flex justify-content-end me-3">
    <button
      class="btn btn-dark"
      (click)="
        saveOrder(
          selectedUser,
          selectedRole,
          selectedOrderId,
          currentUserDetail
        )
      "
    >
      Save
    </button>
  </div>
</p-dialog>
<p-toast></p-toast>
