<app-sidebar></app-sidebar>
<div class="container-fluid ps-6">
  <app-dashboard-head></app-dashboard-head>
  <div class="container-fluid mt-5">
    <div class="row">
      <h4>Orders</h4>
    </div>
  </div>
  <div class="container-fluid d-flex px-0">
      <form class="input-group">
        <input
          class="form-control"
          type="search"
          placeholder="Search Order"
          aria-label="Search"
          [(ngModel)]="search"
          (keyup)="searchOrder($event.target)"
        />

        <button
          type="button"
          class="btn btn-sm btn-dark"
          routerLink="/addOrder"
        >
          + Add
        </button>
      </form>
      <div class="dropdown ms-1 justify-content-end">
        <button
          class="btn btn-dark dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="d-none d-lg-inline-block">Status</span>
        </button>
        <div class="dropdown-content">
          <span (click)="getOrders()">All</span>
          <span (click)="statusSorting(pending)">{{ pending }}</span>
          <span (click)="statusSorting(recieved)">{{ recieved }}</span>
          <span (click)="statusSorting(canceled)">{{ canceled }}</span>
        </div>
      </div>
    </div>
  </div>


<div class="container-fluid mt-1 ps-6 overflow-auto">
  <table class="table table-fixed table-responsive text-center">
    <thead>
      <tr>
        <th scope="col" class="col-1">ID</th>
        <th scope="col" class="col-3">Customer Name</th>
        <th scope="col" class="col-3">Product Name</th>
        <th scope="col" class="col-2">Price</th>
        <th scope="col" class="col-3">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="order-table-404" colspan="5" *ngIf="tableData">
          No record found
        </td>
      </tr>
      <tr *ngFor="let order of ordersArray" class="order-table-row-hover">
        <th scope="row" class="tracking-id">{{ order?.id }}</th>
        <td>{{ order?.customer?.name }}</td>
        <td>{{ order?.product }}</td>
        <td>${{ order?.price }}</td>
        <td class="order-table-btns-container">
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button
              type="button"
              class="btn btn-sm order-table-btn"
              (click)="viewOrder(order.id)"
            >
              <i class="fa-solid fa-hand-pointer"></i><small>View</small>
            </button>
            <button
              type="button"
              class="btn btn-sm order-table-btn"
              (click)="editOrder(order.id)"
            >
              <i class="fa-solid fa-pen"></i><small>Edit</small>
            </button>
            <button
              type="button"
              class="btn btn-sm btn-danger"
              (click)="deleteOrder(order.id)"
            >
              <i class="fa-solid fa-trash"></i><small>Del</small>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<p-dialog header="Error" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }"
    [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <h5 class="error-modal-head">{{error}}</h5>
</p-dialog>
