<app-sidebar></app-sidebar>
<div class="body-position">
  <app-dashboard-head></app-dashboard-head>
  <div class="main-container">
    <div>
      <h3>{{ userName }} Pety Cash</h3>
    </div>

    <div class="card text-nowrap">
      <p-table
        #dt1
        [value]="petyCashRecords"
        dataKey="id"
        [globalFilterFields]="['name']"
      >
        <ng-template pTemplate="caption">
          <div class="flex clearfix">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
              <span class="p-input-icon-right ml-auto">
                <label class="d-block">Debit:</label>
                <input
                  pInputText
                  type="number"
                  placeholder="Add Debit"
                  name="debit"
                  [(ngModel)]="debitValue"
                />
              </span>
              <span class="p-input-icon-right ms-2">
                <label class="d-block">Credit:</label>
                <input
                  pInputText
                  type="number"
                  placeholder="Add Credit"
                  name="credit"
                  [(ngModel)]="creditValue"
                />
              </span>

              <button
                [disabled]="!f.valid"
                pButton
                [label]="editMode ? 'Update' : 'Add'"
                class="p-button-dark bg-dark float-end"
                [icon]="editMode ? 'pi pi-check' : 'pi pi-plus'"
                type="submit"
              ></button>
            </form>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="col">
              <div class="d-flex justify-content-center">User Id</div>
            </th>
            <th class="col">
              <div class="d-flex justify-content-center">Debit</div>
            </th>
            <th class="col">
              <div class="d-flex justify-content-center">Credit</div>
            </th>
            <!-- <th class="col">
              <div class="d-flex justify-content-center">Date</div>
            </th> -->
            <th class="col">
              <div class="d-flex justify-content-center">Date & Time</div>
            </th>
            <th class="col">
              <div class="d-flex justify-content-center">Order Id</div>
            </th>
            <th class="col">
              <div class="d-flex justify-content-center">Action</div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-element let-i="rowIndex">
          <tr>
            <td class="text-center">
              {{ element.user.id }}
            </td>
            <td class="text-center">
              {{ debit[i] }}
            </td>
            <td class="text-center">
              {{ credit[i] }}
            </td>
            <td class="text-center">
              {{ element?.dateAndTime }}
            </td>
            <td class="text-center" routerLink="/orders">
              {{ element?.order?.id }}
            </td>
            <td class="text-center">
              <div
                class="btn-group mr-2"
                role="group"
                aria-label="Second group"
              >
                <button
                  type="button"
                  class="btn order-table-btn"
                  (click)="editPettyCash(element.id)"
                >
                  <i class="fa-solid fa-pen"></i>&nbsp;Edit
                </button>
                <button
                  type="button"
                  class="btn order-table-btn"
                  (click)="deleteById(element.id)"
                >
                  <i class="fa-solid fa-trash"></i>&nbsp;Delete
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6" class="text-center">
              No Pety Cash Record Is Found For {{ userName }} !
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="card flex justify-content-center">
      <p-card header="Total :">
        <div class="row mx-auto text-center">
          <div class="col">
            <h4>Total Debit:{{ totalDebit }}</h4>
          </div>
          <div class="col">
            <h4>Total Credit:{{ totalCredit }}</h4>
          </div>
          <div class="col">
            <h4>Total:{{ totalDebit - totalCredit }}</h4>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
<p-toast></p-toast>
