<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>DPD Template</title>
    <link th:href="@{classpath:/static/styles.css}" rel="stylesheet" media="all" type="text/css"></link>
</head>

<!--<body>-->
<!--<div class="info">-->
<!--    <div class="img">-->
<!--        <img th:src="@{classpath:/static/images/logo.jpeg}"  class="img1"></img>-->
<!--        <img th:src="${'https://api.salassilexpress.com/api/file/Awb/awb_' + awbId + '/qrcode_' + awbId + '.png'}" alt="QR Code" class="img2"></img>-->

<!--    </div>-->
<!--    <div class="content">-->
<!--&lt;!&ndash;        <p>Fred L Scott <br></br> 20 Bridge St <br></br> Olney MK46 4AB <br></br> England</p>&ndash;&gt;-->
<!--        <h3 class="h31">From:</h3>-->
<!--        <p class="truncate-text p1" th:text="${shipperName} + '  -  ' + ${shipperContactNumber}"></p>-->
<!--        <p class="truncate-text p12" th:text="${pickupStreetName} + '  -  ' + ${pickupDistrict}"></p>-->
<!--&lt;!&ndash;        <p class="truncate-text p2" th:text="${pickupAddress}"></p>&ndash;&gt;-->
<!--        <p class="truncate-text p2" th:text="${originCity} + '  -  ' + ${originCountry}"></p>-->
<!--        <h3 class="h32">To:</h3>-->
<!--        <p class="truncate-text p4" th:text="${recipientsName} + '  -  ' +  ${recipientsContactNumber}"></p>-->
<!--        <p class="truncate-text p42" th:text="${deliveryStreetName} + '  -  ' + ${deliveryDistrict}"></p>-->
<!--        <p class="truncate-text p5" th:text="${deliveryAddress}"></p>-->
<!--        <p class="truncate-text p6" th:text="${destinationCity} + '  -  ' +  ${destinationCountry}"></p>-->
<!--        <img th:src="${'https://api.salassilexpress.com/api/file/Awb/awb_' + awbId + '/vertical_barcode_' + awbId + '.png'}" alt="VerticalBarcode" class="img-3"></img>-->
<!--    </div>-->
<!--    <div style="z-index: 1000; position: relative;">-->
<!--        <hr style="border: none; margin: 20px; height: 3px; background-color: #787779;"></hr>-->
<!--    </div>-->
<!--    <div class="footer">-->
<!--        <div class="para">-->
<!--            <p class="b1" th:text="'Ref: ' + ${shipperRefNumber}"></p>-->
<!--            <p class="b2" th:text="'Content: '  + ${content}"></p>-->
<!--            <p class="b3" th:text="'Custom Value: ' +  ${amount} + '  /  Currency: ' +${currency}"></p>-->
<!--            <p class="b4" th:text="'Weight: '  + ${weight} + ' kg' +  '  /  Pieces: '  +  ${pieces}"></p>-->
<!--        </div>-->
<!--        <div class="code">-->
<!--            <p class="code-service" th:text="${serviceTypeCode}"></p>-->
<!--            <h1 class="heading" th:text="${amount}"></h1>-->
<!--            <p class="request-type" th:text="${requestType}"></p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="footer-img">-->
<!--&lt;!&ndash;            <h1 class="unique-num" th:text="'TRK#' + ' ' + ${uniqueNumber}"></h1>&ndash;&gt;-->
<!--&lt;!&ndash;        <h1 class="unique-num" th:text="|TRK# ${uniqueNumber} (${pieceNumber}/${pieces})|"></h1>&ndash;&gt;-->
<!--&lt;!&ndash;        <h1 class="unique-num" th:text="'TRK# ' + ${uniqueNumber} + ${number} + '&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;' + '(' + ${pieceNumber} + '/' + ${pieces} + ')'"></h1>&ndash;&gt;-->
<!--        <h1 class="unique-num" th:text="'TRK# ' + ${uniqueNumber} + (${number} != null ? ${number} : '&#160;&#160;&#160;') + '&#160;&#160;&#160;&#160;&#160;&#160;&#160;' + '(' + ${pieceNumber} + '/' + ${pieces} + ')'"></h1>-->
<!--        <img th:src="${'https://api.salassilexpress.com/api/file/Awb/awb_' + awbId + '/barcode_' + awbId + '.png'}" alt="Barcode" class="img-4"></img>-->
<!--        <p class="duty-tax" th:text="${dutyAndTaxesBillTo}"></p>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
</html>
