<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>DPD Template</title>
    <link th:href="@{classpath:/static/styles.css}" rel="stylesheet" media="all" type="text/css"></link>
</head>

<!--<body>-->
<!--<div class="info">-->
<!--    <div class="img">-->
<!--        <img th:src="@{classpath:/static/images/logo.jpeg}"  class="img1"></img>-->
<!--        <img th:src="${'https://api.salassilexpress.com/api/file/Awb/awb_' + awbId + '/qrcode_' + awbId + '.png'}" alt="QR Code" class="img2"></img>-->

<!--    </div>-->
<!--    <div class="content">-->
<!--&lt;!&ndash;        <p>Fred L Scott <br></br> 20 Bridge St <br></br> Olney MK46 4AB <br></br> England</p>&ndash;&gt;-->
<!--        <h3 class="h31">From:</h3>-->
<!--        <p class="truncate-text p1" th:text="${shipperName} + '  -  ' + ${shipperContactNumber}"></p>-->
<!--        <p class="truncate-text p12" th:text="${pickupStreetName} + '  -  ' + ${pickupDistrict}"></p>-->
<!--&lt;!&ndash;        <p class="truncate-text p2" th:text="${pickupAddress}"></p>&ndash;&gt;-->
<!--        <p class="truncate-text p2" th:text="${originCity} + '  -  ' + ${originCountry}"></p>-->
<!--        <h3 class="h32">To:</h3>-->
<!--        <p class="truncate-text p4" th:text="${recipientsName} + '  -  ' +  ${recipientsContactNumber}"></p>-->
<!--        <p class="truncate-text p42" th:text="${deliveryStreetName} + '  -  ' + ${deliveryDistrict}"></p>-->
<!--        <p class="truncate-text p5" th:text="${deliveryAddress}"></p>-->
<!--        <p class="truncate-text p6" th:text="${destinationCity} + '  -  ' +  ${destinationCountry}"></p>-->
<!--        <img th:src="${'https://api.salassilexpress.com/api/file/Awb/awb_' + awbId + '/vertical_barcode_' + awbId + '.png'}" alt="VerticalBarcode" class="img-3"></img>-->
<!--    </div>-->
<!--    <div style="z-index: 1000; position: relative;">-->
<!--        <hr style="border: none; margin: 20px; height: 3px; background-color: #787779;"></hr>-->
<!--    </div>-->
<!--    <div class="footer">-->
<!--        <div class="para">-->
<!--            <p class="b1" th:text="'Ref: ' + ${shipperRefNumber}"></p>-->
<!--            <p class="b2" th:text="'Content: '  + ${content}"></p>-->
<!--            <p class="b3" th:text="'Custom Value: ' +  ${amount} + '  /  Currency: ' +${currency}"></p>-->
<!--            <p class="b4" th:text="'Weight: '  + ${weight} + ' kg' +  '  /  Pieces: '  +  ${pieces}"></p>-->
<!--        </div>-->
<!--        <div class="code">-->
<!--            <p class="code-service" th:text="${serviceTypeCode}"></p>-->
<!--            <h1 class="heading" th:text="${amount}"></h1>-->
<!--            <p class="request-type" th:text="${requestType}"></p>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="footer-img">-->
<!--&lt;!&ndash;            <h1 class="unique-num" th:text="'TRK#' + ' ' + ${uniqueNumber}"></h1>&ndash;&gt;-->
<!--&lt;!&ndash;        <h1 class="unique-num" th:text="|TRK# ${uniqueNumber} (${pieceNumber}/${pieces})|"></h1>&ndash;&gt;-->
<!--&lt;!&ndash;        <h1 class="unique-num" th:text="'TRK# ' + ${uniqueNumber} + ${number} + '&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;' + '(' + ${pieceNumber} + '/' + ${pieces} + ')'"></h1>&ndash;&gt;-->
<!--        <h1 class="unique-num" th:text="'TRK# ' + ${uniqueNumber} + (${number} != null ? ${number} : '&#160;&#160;&#160;') + '&#160;&#160;&#160;&#160;&#160;&#160;&#160;' + '(' + ${pieceNumber} + '/' + ${pieces} + ')'"></h1>-->
<!--        <img th:src="${'https://api.salassilexpress.com/api/file/Awb/awb_' + awbId + '/barcode_' + awbId + '.png'}" alt="Barcode" class="img-4"></img>-->
<!--        <p class="duty-tax" th:text="${dutyAndTaxesBillTo}"></p>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<body>
<div style="padding: 15px; width: 650px">
    <div style="overflow: hidden;">
        <div style="float: left; margin-top: 15px; width: 25%;">
            <img th:src="@{classpath:/static/images/logo.png}" alt="PrintLab" style="width: 75%;padding-top:17px"/>
        </div>
        <div style="float: right; text-align: right; width: 55%;">
            <h1>Invoice</h1>
        </div>
    </div>
    <div style="margin-top: 20px">
        <h6>3011 8888 40</h6>
        <h6>finance@printlab.pk</h6>
        <h6>www.printlab.pk</h6>
    </div>
    <div style="margin-top: 20px;">
        <table style="width: 50%; border-collapse: collapse; border: 1px solid black; display: flex; flex-wrap: wrap;">
            <tr>
                <th style="padding: 10px; background-color: #343a40; color: white; width: 400px; border: 1px solid black;">
                    <span>Bill To: </span>
                </th>
            </tr>
            <tr>
                <td style="padding-left: 10px; border: 1px solid black;">
                    <h6 style="padding:0;margin:0;margin-bottom:5px" th:text="${customerEmail}"></h6>
                    <h6 style="padding:0;margin:0;margin-bottom:5px"  th:text="${business}"></h6>
                    <h6 style="padding:0;margin:0;margin-bottom:5px"  th:text="${billingAddress}"></h6>
                </td>
            </tr>
        </table>
    </div>

    <div style="margin-top: 50px;">
        <table style="width: 75%; border-collapse: collapse;display: flex; flex-wrap: wrap;">
            <thead style="background-color: #343a40; color: white; text-align: center;">
            <tr>
                <th style="border: 1px solid black; padding: 3px;">Date</th>
                <th style="border: 1px solid black; padding: 3px;">Total Due</th>
                <th style="border: 1px solid black; padding: 3px;">Invoice #</th>
            </tr>
            </thead>
            <tbody>
            <tr style="background-color: white; color: black;">
                <td style="border: 1px solid black; padding: 5px;"
                    th:text="${#dates.format(invoiceDate, 'dd/MM/yyyy')}"></td>
                <td style="border: 1px solid black; padding: 5px;">
                    <div style="overflow: hidden;">
                        <div style="float: left;">PKR</div>
                        <div style="float: right;"><span th:text="${balanceDue}"></span></div>
                    </div>

                </td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;" th:text="${invoiceNo}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="margin-top: 20px;">
        <div>
            <table style="width: 100%; border-collapse: collapse;">
                <thead style="background-color: #343a40; color: white; text-align: center;">
                <tr>
                    <th style="border: 1px solid black; padding: 3px;">Item</th>
                    <th style="border: 1px solid black; padding: 3px; width: 25%;">QTY</th>
                    <th style="border: 1px solid black; padding: 3px; width: 25%;">Rate</th>
                    <th style="border: 1px solid black; padding: 3px; width: 25%;">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row, i : ${invoiceProductDtoList}" style="background-color: white; color: black;">
                    <td style="border: 1px solid black; padding: 5px; white-space: nowrap;">
                        <span th:text="${row.productName + '[' + row.type + ']' }"></span>
                    </td>
                    <td style="border: 1px solid black; padding: 5px; text-align:center;" th:text="${row.qty}"></td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <div style="overflow: hidden;">
                            <div style="float: left;">PKR</div>
                            <div style="float: right;"><span th:text="${row.rate}"></span></div>
                        </div>
                    </td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <div style="overflow: hidden;">
                            <div style="float: left;">PKR</div>
                            <div style="float: right;"><span th:text="${row.amount}"></span></div>
                        </div>

                    </td>
                </tr>
                <tr style="background-color: white; color: black;">
                    <td></td>
                    <td style="border: 1px solid black; padding: 5px; text-align: center;" colspan="2">Total</td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <div style="overflow: hidden;">
                            <div style="float: left;">PKR</div>
                            <div style="float: right;"><span th:text="${total}"></span></div>
                        </div>

                    </td>
                </tr>
                <tr style="background-color: white; color: black;">
                    <td></td>
                    <td style="border: 1px solid black; padding: 5px; text-align: center;" colspan="2">Received</td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <div style="overflow: hidden;">
                            <div style="float: left;">PKR</div>
                            <div style="float: right;"><span>3000</span></div>
                        </div>

                    </td>
                </tr>
                <tr style="background-color: white; color: black;">
                    <td></td>
                    <td style="border: 1px solid black; padding: 5px; text-align: center; background-color: black; color: white;"
                        colspan="2">Balance
                    </td>
                    <td style="border: 1px solid black; padding: 5px;">
                        <div style="overflow: hidden;">
                            <div style="float: left;">PKR</div>
                            <div style="float: right;"><span th:text="${balance}"></span></div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="margin-top: 155px; border-top: 3px solid black;border-left: 0; border-right: 0; margin-left: 10px">
        <div>
            <span>-></span>
            <span>All prices above are in Pakistani Rupee and tax exclusive</span>
        </div>
        <div>
            <span>-></span>
            <span>This is a computer generated invoice no signature required</span>
        </div>
    </div>
</div>
</body>
</html>
