<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DPD Template</title>
    <link th:href="@{classpath:/static/styles.css}" rel="stylesheet" media="all" type="text/css"/>
</head>

<body>
<!-- Image Section -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <img th:src="@{classpath:/static/images/OrderConfirmation.png}" alt="OrderConfirmation" class="w-50"/>
    </div>
</div>

<!-- Client Section -->
<div class="container mt-3">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h3 class="bg-light border rounded-1 ps-2 py-1">CLIENT</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 d-flex ms-2 my-1 align-items-center">
            <h5 class="fw-bolder">CLIENT:</h5>
            <label class="ps-2 fw-medium align-content-center" th:text="${customer}">Usama</label>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 d-flex ms-2 my-1 align-items-center">
            <h5 class="fw-bolder text-uppercase">Businesses:</h5>
            <label class="ps-2 fw-medium align-content-center" th:text="${businessNames}"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 d-flex ms-2 my-1 align-items-center">
            <h5 class="fw-bolder text-uppercase">Branch:</h5>
            <label class="ps-2 fw-medium align-content-center" th:text="${branchNames}"></label>
        </div>
    </div>
</div>

<!-- Product Section -->
<div class="container mt-3">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h3 class="bg-light border rounded-1 ps-2 py-1">PRODUCT</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 d-flex ms-2 my-1 align-items-center">
            <h5 class="fw-bolder text-uppercase">Product:</h5>
            <label class="ps-2 fw-medium align-content-center" th:text="${product}"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 d-flex ms-2 my-1 align-items-center">
            <h5 class="fw-bolder text-uppercase">Size:</h5>
            <label class="ps-2 fw-medium align-content-center" th:text="${size}"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 d-flex ms-2 my-1 align-items-center">
            <h5 class="fw-bolder text-uppercase">Quantity:</h5>
            <label class="ps-2 fw-medium align-content-center" th:text="${qty}"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 d-flex ms-2 my-1 align-items-center">
            <h5 class="fw-bolder text-uppercase">Unit:</h5>
            <label class="ps-2 fw-medium align-content-center" th:text="${rate}"></label>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 d-flex ms-2 my-1 align-items-center">
            <h5 class="fw-bolder text-uppercase">Amount:</h5>
            <label class="ps-2 fw-medium align-content-center" th:text="${amount}"></label>
        </div>
    </div>
</div>

</body>

</html>
