.form-switch-lg input[type="checkbox"] {
  width: 55px;
  height: 25px;
}

.bg-green {
  background-color: green;
}
::ng-deep.p-accordion .p-accordion-header .p-accordion-header-link{
  padding: 0.5rem 1.25rem !important;
}
::ng-deep.p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight
  .p-accordion-header-link {
  padding: 0.5rem 1.25rem !important;
}