::ng-deep.p-button {
  color: #ffffff;
  background: black;
  border: 1px solid white;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}

.form-switch-lg input[type="checkbox"] {
  width: 55px;
  height: 25px;
}
.customSize::ng-deep.p-multiselect .p-multiselect-label {
  padding: 0.65rem 0.75rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
::ng-deep.p-accordion
  .p-accordion-header:not(.p-disabled).p-highlight
  .p-accordion-header-link {
  padding: 0.90rem 1.25rem !important;
}
::ng-deep.p-accordion .p-accordion-header .p-accordion-header-link{
  padding: 0.80rem 1.25rem !important;
}