<div class="dash-head">
  <div style="display: flex;">
    <input type="text" class="form-control input-dashboard" placeholder="Search">
    <button type="button" class="order-table-btn btn btn-prop ">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>

  <div class="dash-dd">
    <div class="btn order-table-btn dash-head-btn" (click)="logout()">
      Log-out&nbsp;&nbsp;<i class="fa-solid fa-arrow-right-from-bracket"></i>
    </div>
  </div>


  <!-- <div class="dropdown">
        <img src="../../../assets/dash-head1.jpg" alt="failed" class="img-dash dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div> -->
</div>
