.user-info {
  display: block;
  text-align: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #e9ecef;
  color: #6c757d;
  border-top: 1px solid #ced4da;
  border-left: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  padding: 0.75rem 0.75rem;
  min-width: 3rem;
}

.user-info .username {
  display: block;
  font-weight: bold;
}

.user-info .role {
  display: block;
  font-style: italic;
}
