<nav class="navbar navbar-light">
  <div class="container-fluid ps-0 pe-0">
    <!-- <form class="input-group">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button type="button" class="btn btn-dark">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
      <div class="order-table-btn p-3 ms-3" (click)="logout()">
       <span class="d-none d-lg-inline-block">Log-out</span><i class="fa-solid fa-arrow-right-from-bracket ps-2"></i>
      </div>
    </form> -->
  </div>
</nav>



  <!-- <div class="dropdown">
        <img src="../../../assets/dash-head1.jpg" alt="failed" class="img-dash dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div> -->
<!-- </div> -->
