<app-sidebar></app-sidebar>
<div class="container-fluid ps-6">
  <app-dashboard-head></app-dashboard-head>
  <div class="main-container">
    <div class="row">
      <div class="col-11">
        <h3>Leads</h3>
      </div>
      <!-- <div class="col-1 text-end">
        <button
          pButton
          label="Clear"
          class="btn btn-dark rounded-1"
          icon="pi pi-filter-slash"
          (click)="clear()"
        ></button>
      </div> -->
    </div>
    <div class="card text-nowrap">
      <p-table
        #dt1
        [value]="paginatedLeads?.content!"
        dataKey="id"
        [globalFilterFields]="['name']"
        selectionMode="single"
      >
        <ng-template pTemplate="caption">
          <div class="row">
            <div class="col-10">
              <span class="p-input-icon-right ml-auto">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="lead.companyName"
                  placeholder="Search Company"
                  (input)="getLeadList(undefined, lead)"
                />
              </span>
            </div>
            <div class="col-2 text-end">
              <button
                pButton
                type="button"
                label="Create Lead"
                class="p-button-dark bg-dark"
                icon="pi pi-plus"
                (click)="showModal()"
              ></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="col text-start">Company Name</th>
            <th class="col text-start">Contact Name</th>
            <th class="col text-start">
              <div>
                Status
                <p-columnFilter
                  field="representative"
                  matchMode="in"
                  display="menu"
                  [showMatchModes]="false"
                  [showOperator]="false"
                  [showAddButton]="false"
                >
                  <ng-template pTemplate="header">
                    <div class="px-3 pt-3 pb-0">
                      <span class="font-bold">Status</span>
                    </div>
                  </ng-template>
                  <ng-template
                    pTemplate="filter"
                    let-value
                    let-filter="filterCallback"
                  >
                    <p-dropdown
                      [ngModel]="value"
                      [options]="statusToFilter?.productFieldValuesList"
                      [(ngModel)]="lead.leadStatusType"
                      placeholder="Status"
                      optionLabel="name"
                      optionValue="name"
                      (onChange)="getLeadList(undefined, lead)"
                    >
                      <ng-template let-option pTemplate="item">
                        <div class="inline-block vertical-align-middle">
                          <span class="ml-1 mt-1">{{ option.name }}</span>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </ng-template>
                </p-columnFilter>
              </div>
            </th>
            <!--<th class="col">
              <div class="d-flex justify-content-center">Address Type</div>
            </th>
            <th class="col">
              <div class="d-flex justify-content-center">Job Title</div>
            </th>
            <th class="col">
              <div class="d-flex justify-content-center">Role</div>
            </th>
            <th class="col">
              <div class="d-flex justify-content-center">About</div>
            </th>
            -->
            <th class="col text-start">Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lead let-i="rowIndex">
          <tr class="clickable-row text-start" (click)="edit(lead.id)">
            <td class="text-start">
              <a
                class="nav-link w-100"
                [routerLink]="['/create-lead']"
                [queryParams]="{ id: lead.id }"
                (click)="$event.stopPropagation()"
              >
                {{ lead?.companyName }}
              </a>
            </td>
            <td class="text-start">
              <a
                class="nav-link"
                [routerLink]="['/create-lead']"
                [queryParams]="{ id: lead.id }"
                (click)="$event.stopPropagation()"
              >
                {{ lead?.contactName }}
              </a>
            </td>
            <td class="text-start">
              <a
                class="nav-link"
                [routerLink]="['/create-lead']"
                [queryParams]="{ id: lead.id }"
                (click)="$event.stopPropagation()"
              >
                {{ lead?.leadStatusType }}
              </a>
            </td>
            <!-- <td class="text-center">
              {{ lead?.leadAddress[i].type }}
            </td>
            <td class="text-center">
              {{ lead?.contact[i].jobTitle }}
            </td>
            <td class="text-center">
              {{ lead?.contact[i].role }}
            </td> -->
            <!-- <td class="text-center d-flex justify-content-center">
              <textarea
                name="descRow"
                [(ngModel)]="lead.about.description"
                id="desc"
                class="d-block"
                cols="25"
                rows="1"
                readonly
              ></textarea>
            </td> -->
            <td class="text-start">
              <div
                class="btn-group mr-2"
                role="group"
                aria-label="Second group"
              >
                <button
                  type="button"
                  class="btn order-table-btn"
                  (click)="showModal(lead); $event.stopPropagation()"
                >
                  <i class="fa-solid fa-pen"></i>&nbsp;Edit
                </button>
                <button
                  type="button"
                  class="btn order-table-btn"
                  (click)="deleteLead(lead); $event.stopPropagation()"
                >
                  <i class="fa-solid fa-trash"></i>&nbsp;Delete
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8" class="text-center">No lead Found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <p-paginator
      [rows]="paginatedLeads?.pageSize!"
      [totalRecords]="paginatedLeads?.totalElements!"
      (onPageChange)="getLeadList($event)"
      [rowsPerPageOptions]="[5, 10, 15]"
      currentPageReportTemplate="Showing {{
        paginatedLeads?.pageNumber! * paginatedLeads?.pageSize!
      }} to {{
        (paginatedLeads?.pageNumber! + 1) * paginatedLeads?.pageSize!
      }} of {{ paginatedLeads?.totalElements! }} entries"
      [alwaysShow]="true"
      [pageLinkSize]="5"
      [showCurrentPageReport]="true"
    ></p-paginator>
  </div>
</div>
<p-dialog
  [header]="type"
  [(visible)]="visible"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeNewLeadModal()"
>
  <form #leadForm="ngForm" (ngSubmit)="submit()">
    <div class="container text-center">
      <div class="row my-3">
        <div class="col-6">
          <input
            pInputText
            type="text"
            class="w-100"
            required
            name="companyName"
            (input)="getLeadList(undefined, lead)"
            [(ngModel)]="lead.companyName"
            placeholder="Enter Company Name"
          />
        </div>
        <div class="col-6">
          <input
            pInputText
            type="text"
            name="contactName"
            class="w-100"
            [(ngModel)]="lead.contactName"
            required
            placeholder="Enter Contact Name"
          />
        </div>
      </div>
      <div class="row my-3" *ngIf="leadSearchModal">
        <h6>We found a simiral lead that already existed!</h6>
        <p-table
          [value]="paginatedLeads?.content!"
          class="p-datatable-dark"
          selectionMode="single"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="background-color: black; color: white">Company</th>
              <th style="background-color: black; color: white">Status</th>
              <th style="background-color: black; color: white">Created</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-result>
            <tr class="clickable-row" (click)="edit(result.id)">
              <td>
                <a
                  class="nav-link w-100"
                  [routerLink]="['/create-lead']"
                  [queryParams]="{ id: lead.id }"
                  (click)="$event.stopPropagation()"
                >
                  {{ result?.companyName }}
                </a>
              </td>
              <td>
                <a
                  class="nav-link w-100"
                  [routerLink]="['/create-lead']"
                  [queryParams]="{ id: lead.id }"
                  (click)="$event.stopPropagation()"
                >
                  {{ result?.leadStatusType }}
                </a>
              </td>
              <td>
                <a
                  class="nav-link w-100"
                  [routerLink]="['/create-lead']"
                  [queryParams]="{ id: lead.id }"
                  (click)="$event.stopPropagation()"
                >
                  {{ result?.createdAt }}
                </a>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="row d-flex justify-content-end">
        <div class="col-2">
          <button
            class="btn btn-danger w-100"
            type="button"
            (click)="closeNewLeadModal()"
          >
            Cancel
          </button>
        </div>
        <div class="col-3">
          <button
            [disabled]="!leadForm.valid || leadSearchModal"
            class="btn btn-dark w-100"
            type="submit"
          >
            {{ mode }}
          </button>
        </div>
      </div>
    </div>
  </form>
</p-dialog>
<!-- <p-dialog
  header="Leads"
  [(visible)]="leadSearchModal"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <input
          pInputText
          type="text"
          [(ngModel)]="lead.companyName"
          (input)="searchCompanyAndContactName(lead)"
          placeholder="Enter Company Name"
        />
      </div>
      <div class="col">
        <input
          pInputText
          type="text"
          [(ngModel)]="lead.contactName"
          (input)="searchCompanyAndContactName(lead)"
          placeholder="Enter Contact Name"
        />
      </div>
    </div>
  </div>
</p-dialog> -->
<p-toast></p-toast>
